.main{
    margin: 25px 0;
    display: grid;
    grid-column-gap: 20px;
    grid-template:
    'a   a   b   b   c   c'  1fr
    'd   d   d   e   e   e'  1fr
    /1fr 1fr 1fr 1fr 1fr 1fr
    ;
}
.main div{
    border: 1px solid #0A1747;
    border-radius: 4px;
    padding: 10px;
    text-align: center;
    position: relative;
}
.main div a{
    text-decoration: none;
    color: #0A1747;
}
.main div a:hover{
    color: #9f9f9f;
}
.main div .notice{
    min-width: 16px;
    height: 16px;
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: white;
    display: inline-block;
    position: absolute;
    top: -4px;
    right: -4px;
    border-radius: 8px;
    border: 0px;
    background-color: #F2C52A;
}
.my_stuff{
    grid-area: a;
}
.i_find{
    grid-area: b;
}
.chat{
    grid-area: c;
}
