.main_body{
    margin-bottom: 20px;
    position: relative;
}
.body{
    background-color: dimgrey;
    border-radius: 3px;
    padding: 20px;
    position: relative;
    z-index: 10;
}
.body a{
    text-decoration: none;
}
.card_numb{
    background-color: #fff;
    color: #000;
    border-radius: 2px;
    padding: 5px;
}
.btn_x{
    border: 0px;
    background-color: rgba(0,0,0,0);
    color: #fff;
    position: absolute;
    right: 25px;
}
.add_card{
    color: white;
}

.notice_block{
    padding: 10px 5px 5px 5px;
    position: relative;
    top: -5px;
    z-index: 5;
    border-radius: 3px;
    border: 1px solid rgba(0,0,0, 0.1);
    background-color: rgba(0,0,0, 0.1);
}